<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration Form</h1>

<h6 th:if="${error}">That email already exists </h6>

<form role="form" method="post" th:action="@{/user/register}" th:object="${user}">
    <br>
    <label for="firstName">First Name: </label>
    <br>
    <input id="firstName" type="text" th:field="*{firstName}"/>
    <br>
    <label for="lastName">Last Name: </label>
    <br>
    <input id="lastName" type="text" th:field="*{lastName}"/>
    <br>
    <label for="email">Email: </label>
    <br>
    <input id="email" type="text" th:field="*{email}"/>
    <br>
    <label for="password">Password: </label>
    <br>
    <input id="password" type="password" th:field="*{password}"/>
    <br>
    <label for="location">Location: </label>
    <br>
    <input id="location" type="text" th:field="*{location}"/>
    <br>
    <label for="homebreak">Homebreak: </label>
    <br>
    <input id="homebreak" type="text" th:field="*{homebreak}"/>
    <br>
    <br>
    <input type="submit" value="Submit Button">
</form>

</body>
</html>