<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Poppins&family=Quicksand:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/session.css}">
    <link rel="stylesheet" href="../static/css/session.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>
<div th:insert="~{header.html}"></div>
<h1>Session Log</h1>
<div class="stats-container">
    <h2>Stats</h2>
    <div class="stats-flex-container">
        <div class="statsL">
            <h3>Largest: </h3>
            <h3 th:text="${wavedata.max} + ' feet'"></h3>
        </div>
        <div class="statsC">
            <h3>Smallest: </h3>
            <h3 th:text="${wavedata.min} + ' feet'"></h3>
        </div>
        <div class="statsR">
            <h3>Average: </h3>
            <h3 th:text="${wavedata.avg} + ' feet'"></h3>
        </div>
    </div>
</div>

<div class="form-header">
    <h1>Add Session</h1>
    <button class="form-display-button" id="formButton">Hide</button>
</div>

<div id="form-container" class="form-container">
    <form role="form" method="post" th:action="@{/session/paddle}" th:object="${session}">
        <div class="label-input-pair"><label for="date">Date: </label>
            <br>
            <input type="date" id="date" th:field="*{date}">
        </div>
        <div class="label-input-pair">
            <label for="size">Size(ft): </label>
            <br>
            <input id="size" type="number" th:field="*{size}"/>
        </div>
        <div class="label-input-pair">
            <label for="period">Period(s): </label>
            <br>
            <input id="period" type="number" th:field="*{period}"/>
        </div>
        <div class="label-input-pair">
            <label for="direction">Swell Direction(degrees): </label>
            <br>
            <input id="direction" type="number" th:field="*{direction}"/>
        </div>
        <div class="label-input-pair">
            <label for="windStrength">Wind Strength(mph):</label>
            <br>
            <input id="windStrength" type="number" th:field="*{windStrength}"/>
        </div>
        <div class="label-input-pair">
            <label for="windDirection">Wind Direction(degrees):</label>
            <br>
            <input id="windDirection" type="number" th:field="*{windDirection}"/>
        </div>
        <div class="label-input-pair">
            <label for="board">Board:</label>
            <br>
            <select id="board" th:field="*{board}">
                <option th:each="board : ${surfboards}" th:value="${board.shaper}" th:text="${board.shaper}">
                </option>
            </select>
        </div>
        <div class="label-input-pair">
            <label for="spot">Spot:</label>
            <br>
            <select id="spot" th:field="*{spot}">
                <option th:each="break : ${spots}" th:value="${break.name}" th:text="${break.name}">
                </option>
            </select>
        </div>
        <div class="label-input-pair">
            <label for="rating">Session Rating: </label>
            <br>
            <select id="rating" th:field="*{rating}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="label-input-pair">
            <label for="boardRating">Board Rating: </label>
            <br>
            <select id="boardRating" th:field="*{boardRating}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <br>
        <div class="label-input-pair">
            <label for="comment">Comments: </label>
            <br>
            <textarea id="comment" cols="30" rows="2" th:field="*{comment}"></textarea>
        </div>
        <br>
        <input id="submit" type="submit" value="Add Session">
    </form>
</div>

<h1>My Sessions</h1>

<div class="dropdown-container">
    <div class="sorting-dropdown">
        <button class="dropdown-btn">Sort Sessions</button>
        <div class="sorting-links">
            <a th:href="@{/session/sortbysizedesc}">Size: High to Low</a>
            <a th:href="@{/session/sortbysizeasc}">Size: Low to High</a>
            <a th:href="@{/session/sortbyratingdesc}">Rating: High to Low</a>
            <a th:href="@{/session/sortbyratingasc}">Rating: Low to High</a>
            <a th:href="@{/session/sortbyboarddesc}">Board: A-Z</a>
            <a th:href="@{/session/sortbyboardasc}">Board: Z-A</a>
            <a th:href="@{/session/sortbyspotdesc}">Spot: A-Z</a>
            <a th:href="@{/session/sortbyspotasc}">Spot: Z-A</a>
            <a th:href="@{/session/sortbydatedesc}">Date: Present to Past</a>
            <a th:href="@{/session/sortbydateasc}">Date: Past to Present</a>
        </div>
    </div>
</div>

<div class="table-container">
    <table>
        <tr id="table-header">
            <th class="th-left">Date</th>
            <th>Size (ft)</th>
            <th>Period (s)</th>
            <th>Direction (degrees)</th>
            <th>Wind Strength (mph)</th>
            <th>Wind Direction (degrees)</th>
            <th>Board</th>
            <th>Board Rating</th>
            <th>Spot</th>
            <th>Session Rating</th>
            <th>Comments</th>
            <th></th>
        </tr>
        <tr th:each="sesh : ${sessions}">
            <td th:text="${sesh.date}"/>
            <td th:text="${sesh.size} + 'ft'"/>
            <td th:text="${sesh.period} + 's'"/>
            <td th:text="${sesh.direction} + '°'"/>
            <td th:text="${sesh.windStrength} + ' mph'"/>
            <td th:text="${sesh.windDirection} + '°'"/>
            <td th:text="${sesh.board}"/>
            <td th:text="${sesh.boardRating} +'/5'"/>
            <td th:text="${sesh.spot}"/>
            <td th:text="${sesh.rating} +'/5'"/>
            <td th:text="${sesh.comment}"/>
            <td>
                <form th:action="@{/session/update/{id}(id=${sesh.id})}" method="get">
                    <input class="update-button" type="submit" value="update">
                </form>
            </td>
            <td>
                <form th:action="@{/session/delete/{id}(id=${sesh.id})}" method="post">
                    <input class="delete-button" type="submit" value="delete">
                </form>
            </td>
        </tr>
    </table>
</div>
<script src="/js/form_hide.js"></script>
</body>
</html>