<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spot Check</title>
</head>

<body>
<div th:insert="~{header.html}"></div>
<h1>Sessions</h1>

<h2>Stats</h2>
<h3 th:text="'Max: '+ ${wavedata.max}"></h3>
<h3 th:text="'Min: ' + ${wavedata.min}"></h3>
<h3 th:text="'Avg: ' + ${wavedata.avg}"></h3>

<h2>Add Session</h2>



<form role="form" method="post" th:action="@{/session/paddle}" th:object="${session}">
  <label for="date">Date: </label>
  <input type="date" id="date" th:field="*{date}">
  <label for="size">Size(ft)</label>
  <input id="size" type="number" th:field="*{size}"/>
  <label for="period">Period(s)</label>
  <input id="period" type="number" th:field="*{period}"/>
  <label for="direction">Swell Direction(degrees)</label>
  <input id="direction" type="number" th:field="*{direction}"/>
  <label for="windStrength">Wind Strength(mph)</label>
  <input id="windStrength" type="number" th:field="*{windStrength}"/>
  <label for="windDirection">Wind Direction(degrees)</label>
  <input id="windDirection" type="number" th:field="*{windDirection}"/>
  <label for="board">Board</label>
  <select id="board" th:field="*{board}">
    <option th:each="board : ${surfboards}" th:value="${board.shaper}" th:text="${board.shaper}">
    </option>
  </select>
  <label for="spot">Spot</label>
  <select id="spot" th:field="*{spot}">
    <option th:each="break : ${spots}" th:value="${break.name}" th:text="${break.name}">
    </option>
  </select>
  <label for="rating">Session Rating: </label>
  <select id="rating" th:field="*{rating}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="boardRating">Board Rating: </label>
  <select id="boardRating" th:field="*{boardRating}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="comment">Comments: </label>
  <textarea id="comment" cols="30" rows="2" th:field="*{comment}"></textarea>
  <input id="submit" type="submit" value="Submit Button">
</form>

<h2>Sort Session</h2>
<a th:href="@{/session/sortbysizedesc}">Size: High to Low</a>
<br>
<a th:href="@{/session/sortbysizeasc}">Size: Low to High</a>
<br>
<a th:href="@{/session/sortbyratingdesc}">Rating: High to Low</a>
<br>
<a th:href="@{/session/sortbyratingasc}">Rating: Low to High</a>
<br>
<a th:href="@{/session/sortbyboarddesc}">Board: A-Z</a>
<br>
<a th:href="@{/session/sortbyboardasc}">Board: Z-A</a>
<br>
<a th:href="@{/session/sortbyspotdesc}">Spot: A-Z</a>
<br>
<a th:href="@{/session/sortbyspotasc}">Spot: Z-A</a>
<br>
<a th:href="@{/session/sortbydatedesc}">Date: Present to Past</a>
<br>
<a th:href="@{/session/sortbydateasc}">Date: Past to Present</a>
<br>



<table>
  <tr>
    <th>Date </th>
    <th>Size (ft)</th>
    <th>Period (s)</th>
    <th>Direction (degrees)</th>
    <th>Wind Strength (mph)</th>
    <th>Wind Direction (degrees)</th>
    <th>Board</th>
    <th>Board Rating</th>
    <th>Spot</th>
    <th>Session Rating</th>
    <th>Comments </th>
    <th>Action</th>
  </tr>
  <tr th:each="sesh : ${sessions}">
    <td th:text="${sesh.date}"/>
    <td th:text="${sesh.size}"/>
    <td th:text="${sesh.period}"/>
    <td th:text="${sesh.direction}"/>
    <td th:text="${sesh.windStrength}"/>
    <td th:text="${sesh.windDirection}"/>
    <td th:text="${sesh.board}"/>
    <td th:text="${sesh.boardRating}"/>
    <td th:text="${sesh.spot}"/>
    <td th:text="${sesh.rating}"/>
    <td th:text="${sesh.comment}"/>
    <td>
      <form th:action="@{/session/update/{id}(id=${sesh.id})}" method="get">
        <input type="submit" value="update">
      </form>
    </td>
    <td>
      <form th:action="@{/session/delete/{id}(id=${sesh.id})}" method="post">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
</table>


</body>
</html>