<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Surfboards</title>
</head>
<body>
<div th:insert="header.html"></div>
<h1>My Quiver</h1>

<form role="form" method="post" th:action="@{/board/quiver}" th:object="${surfboard}">
<label for="shaper">Shaper</label>
<input id="shaper" type="text" th:field="*{shaper}"/>
  <label for="length">length</label>
  <input id="length" type="text" th:field="*{length}"/>
  <label for="tail">tail</label>
  <input id="tail" type="text" th:field="*{tail}"/>
  <label for="finNum">finNum</label>
  <input id="finNum" type="text" th:field="*{finNum}"/>
  <label for="finType">finType</label>
  <input id="finType" type="text" th:field="*{finType}"/>
  <input id="submit" type="submit" value="Submit Button">
</form>

<table>
  <tr>
    <th>Shaper/Model</th>
    <th>Length</th>
    <th>Tail</th>
    <th>Fin #</th>
    <th>Fin Type</th>
    <th>Actions</th>
  </tr>
  <tr th:each="surfboard: ${surfboards}">
    <td th:text="${surfboard.shaper}"/>
    <td th:text="${surfboard.length}"/>
    <td th:text="${surfboard.tail}"/>
    <td th:text="${surfboard.finNum}"/>
    <td th:text="${surfboard.finType}"/>
    <td>
      <form th:action="@{/board/update/{id}(id=${surfboard.id})}" method="get">
        <input type="submit" value="update">
      </form>
    </td>
    <td>
      <form th:action="@{/board/delete/{id}(id=${surfboard.id})}" method="post">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
</table>

</body>
</html>