<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Board</title>
</head>
<body>
<div th:insert="~{header.html}"></div>
<h1>Update Board</h1>

<form role="form" method="post" th:action="@{/board/update/{id}(id=${surfboard.id})}" th:object="${surfboard}">
  <label for="shaper">Shaper</label>
  <input id="shaper" type="text" th:field="*{shaper}" />
  <label for="length">length</label>
  <input id="length" type="text" th:field="*{length}"/>
  <label for="tail">tail</label>
  <input id="tail" type="text" th:field="*{tail}"/>
  <label for="finNum">finNum</label>
  <input id="finNum" type="text" th:field="*{finNum}"/>
  <label for="finType">finType</label>
  <input id="finType" type="text" th:field="*{finType}"/>
  <input id="submit" type="submit" value="Submit Button">
</form>
</body>
</html>