<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Break</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Poppins&family=Quicksand:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/update_spot.css}">
    <link rel="stylesheet" href="../static/css/update_spot.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:insert="~{header.html}"></div>
<h1>Update Break</h1>

<div class="form-container">
    <form role="form" method="post" th:action="@{/spot/update/{id}(id=${spot.id})}" th:object="${spot}">
        <div class="label-input-pair">
            <label for="name">Name: </label>
            <br>
            <input id="name" type="text" th:field="*{name}"/>
        </div>
        <div class="label-input-pair">
            <label for="type">Type: </label>
            <br>
            <input id="type" type="text" th:field="*{type}"/>
        </div>
        <div class="label-input-pair">
            <label for="location">Location: </label>
            <br>
            <input id="location" type="text" th:field="*{location}"/>
        </div>
        <div class="label-input-pair">
            <label for="swell">Ideal Swell Direction: </label>
            <br>
            <input id="swell" type="text" th:field="*{idealExposure}"/>
        </div>
        <div class="label-input-pair">
            <label for="wind">Ideal Wind: </label>
            <br>
            <input id="wind" type="text" th:field="*{idealWind}"/>
        </div>
        <br>
        <input id="submit" type="submit" value="Submit Button">
    </form>
</div>
</body>
</html>