body {
    background-color: #313638;
    color: #E0DFD5;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #EF6461;
    font-family: 'Philosopher', sans-serif;
    font-size: 250%;
}

h3 {
    margin-top: 30px;
}
h6 {
    margin: 0px;
}

.register-container {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    height: fit-content;
    width: 400px;
    background-color: #E4B363;
    border-radius: 7%;
    box-shadow: 2px 2px 5px #EF6461;
}

#submit {
    height: 50px;
    background-color: #E0DFD5;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 2px 2px 5px #313638;
    cursor: pointer;
    margin-bottom: 25px;
}

#submit:hover{
    background-color: #E8E9Eb;
}

#submit:active{
    box-shadow: 1px 1px 2px #313638;
}



input {
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.login-link {
    height: 50px;
}