<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title> Db Page </title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
<h1>You have hit the db route, but have you hit the database??</h1>
<div th:each="user: ${userList}">
    <br>
    <p th:text="${user.firstName}"></p>
    <p th:text="${user.lastName}"></p>
    <p th:text="${user.location}"></p>
    <p th:text="${user.homebreak}"></p>
    <br>
</div>

<h1 th:text="${singleUser.firstName} + ' ' + ${singleUser.lastName}"></h1>
<h2 th:text="${singleUser.location} + ' ' + ${singleUser.homebreak}"></h2>

</body>
</html>